body {
    background-color: #778899;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: relative;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image {
     /* position: relative;  */
}
.click {
    position: absolute;
    bottom: 20px;
    background-color: red;
}